# Copy/Paste this file to .zshrc.secrets and fill in the values
#
# Github secret token for npm to be able to install from private repos/packages (ie: @entr-engineering/schemas)
export NPM_TOKEN=
# Github token to publish/release packages locally
export GITHUB_TOKEN=
# Open API key for ChatGPT to work
# https://github.com/jackMort/ChatGPT.nvim
export OPENAI_API_KEY=
# Pulumi passphrase
export PULUMI_CONFIG_PASSPHRASE=
